.content-box{
    margin: 20px 15px 15px 15px;
    padding: 15px;
    background-color: $color-box;
    border-radius: 15px;
    box-shadow: 5px 10px 8px black;
    h1{
        color: $color-font-white;
        margin: 0;
        text-align: center;
    }
    p{
        margin: 15px;
    }
}

hr{
    border: solid 1px $color-font-red;
    max-width: 75%;
}

.fave-content-box{
    margin-top: 25px;
    padding: 35px;
    p{
        display: inline;
        vertical-align: middle;
    }
    img{
        display: inline;
        vertical-align: middle;
        margin: 0px 3px 0px 3px;
    }
}

.no-favorites-favorite-button{
    width: 25px;
    height: 25px;
}

@media (min-width: 41.875em){

    .content-box{
        margin: 25px 80px 25px 80px;
        padding-left: 80px;
        padding-right: 80px;
        h1{
            text-align: left;
            padding-left: 20px;
            padding-top: 30px;
        }
    }

    hr{
        max-width: 800px;
    }
}

@media (min-width: 56.25em){
    .fave-content-box{
        margin-top: 25px;
    }

    .content-box{
        margin: 25px 120px 25px 120px;
    }
}


@media (min-width: 63.75em){

    .content-box{
        margin: 80px 100px 25px 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .fave-content-box{
        margin-top: 25px;
    }
}

@media (min-width: 75em){

    .content-box{
        margin: 80px 280px 80px 280px;
        padding-left: 110px;
        padding-right: 110px;
        h1{
            text-align: left;
            padding-left: 20px;
        }
    }

    .fave-content-box{
        margin-top: 25px;
    }
}

@media (min-width: 87.5){
    
    .content-box{
        margin: 80px 390px 80px 390px;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .fave-content-box{
        margin-top: 25px;
    }
}