.content-box{
    margin: 15px;
    padding: 15px;
    background-color: $color-box;
    border-radius: 15px;
    box-shadow: 5px 10px 8px black;
}

.content-box h1{
    color: $color-font-white;
    margin: 0;
    text-align: center;
}

.content-box p{
    margin: 15px;
}

hr{
    border: solid 1px $color-font-red;
    max-width: 75%;
}

//media query notes for later
//desktop width the stuff inside content-box will have wider side margins
//or side padding, whichever ends up working better

@media (min-width: 670px){
    .content-box{
        margin: 25px 80px 25px 80px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .content-box h1{
        text-align: left;
        padding-left: 20px;
    }

    hr{
        max-width: 800px;
    }
}

@media (min-width: 670px){
    .content-box h1{
        text-align: left;
        padding-left: 20px
    }
}

@media (min-width: 1020px){
    //adjust these later
    .content-box{
        margin: 25px 80px 25px 80px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .content-box h1{
        text-align: left;
        padding-left: 20px;
    }

    hr{
        max-width: 800px;
    }
}