.home-bar{
    display: block;
}

.page-title{
    margin: 0px;
    display: flex;
    justify-content: center;  
}

.title-white{
    color: $color-font-white;
}

body {
    background-color: $color-background;
    color: $color-font-red;
    text-align: center;
    font-family: $font-body;
}

form{
    display: inline-block;
}

label{
    font-size: 0.9em;
}

select, option{
    background-color: $color-box;
    color: $color-font-white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-header;
    font-weight: lighter;
}

header p{
    color: $color-font-white;
    margin: 0;
}

p{
    font-size: 13px;
    font-family: $font-body;
    color: $color-font-white;
}

.movie-info-card{
    text-align: left;
    background-color: $color-box;
    width: 240px;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 10px;
    overflow: hidden;
}

.poster{
    width: 240px;
    height: 360px;
    position: absolute;
}

//poster-title probably needs styles because the text underneath it
//goes poof when the title is long

.description{
    width: 240px;
    height: 400px;
    z-index: 2;
    position: relative; 
    background: linear-gradient(0deg, rgba(14,12,13,1) 0%, rgba(14,12,13,1) 16%, rgba(14,255,255,0) 32%, rgba(14,255,255,0) 100%);
}

.hover-info{
    width: 240px;
    height: 400px;
    padding: 20px;
    background-color: rgba(14,12,13,0.85);
    position: relative;
    display: none;

}

.movie-info-card:hover .hover-info{
    display:block;
}

//note for later - have poster-fave-button show even when not hovering over
.poster-fave-button{
    position: absolute;
    right: 20px;    
}

.hover-info p{
    color: $color-font-white;
    font-size: 13px;
    width: 180px;
    margin: auto;
    margin-top: 90px;
}

.more-info-btn{
    background-color: transparent;
    color: $color-font-red;
    outline: transparent;
    border: solid 1px $color-font-red;
    border-radius: 10px;
    padding: 7px 9px;
    position: absolute;
    bottom: 110px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    transition: 0.3s;
}

.more-info-btn:hover{
    color: $color-font-white;
    cursor: pointer;
}

.quick-intro{
    width: 240px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    padding: 0px 20px 12px 20px;
}

.poster-intro-title{
    font-size: 18px;
    font-family: $font-header;
    color: $color-font-white;
    font-weight: lighter;
    margin: 0px;
}

.poster-intro-date{
    font-size: 13px;
    font-family: $font-header;
    color: $color-font-white;
    font-weight: lighter;
    margin: 0px;
}

.poster-intro-rating{
    font-size: 13px;
    font-family: $font-body;
    color: $color-font-red;
    margin: 0px;

}

label{
    color: $color-font-white;
}

/*
------------------------
styling for single pages
------------------------
*/
.about-movie-poster{
    position: relative;
    max-width: 80%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
}

.about-movie-title{
    position: relative;
    bottom: 85px;
    color: $color-font-white;
    padding-top: 45px;
    padding-bottom: 12px;
    margin: 0;
    background: linear-gradient(0deg, rgba(14,12,13,1) 5%, rgba(14,12,13,1) 5%, rgba(0, 0, 0, 0.192) 70%, rgba(14,255,255,0) 100%);
}

.about-movie-box{
    position: relative;
    bottom: 135px;
    padding: 80px 25px 25px 25px;
    background-color: #0d0d0d;
    box-shadow: 5px 10px 8px black;
    z-index: -1
}

.about-movie-quick-info{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 15px;
}

.about-synopsis{
    text-align: left;
    padding-top: 15px;
}

.synopsis-title{
    padding-bottom: 5px;
    font-weight: bold;
}

.about-fave-button{
    margin-top: 25px;
    position: relative;
    left: 120px;
}


//arbitrary min width for now, just for testing
@media (min-width: 460px){
    .movie-gallery{
        margin: 0px 65px 0px 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (min-width: 670px){
/*
------------------------
elements
------------------------
*/
    form{
        margin-top: 85px;
        margin-right: 80px;
    }

/*
------------------------
classes
------------------------
*/
    .home-bar{
        display: flex;
        justify-content: space-between;
    }

    .page-title{
        margin-top: 50px;
        margin-left: 80px;
        justify-content: left;
    }

    .favourites-title{
        margin-left: 80px;
        justify-content: initial;
    }

}

@media (min-width: 900px){
/*
------------------------
styling for single pages
------------------------
*/
    .single-movie-content{
        margin: auto;
    }

    .about-movie-poster{
        width: 325px;
        margin-top: 85px;
        left: -200px;
    }

    .about-movie-title{
        background: none;
        top: -475px;
        left: 40px;
        padding: 0px;
        font-size: 2em;
    }

    .about-movie-box{
        margin: auto;
        margin-top: 20px;
        border-radius: 15px;
        top: -475px;
        width: 450px;
        padding: 45px 25px 25px 85px;
        left: 140px;
    }
}