.home-bar{
    display: block;
}

.page-title{
    margin: 0px;
    display: flex;
    justify-content: center;  
}

.title-white{
    color: $color-font-white;
}

body {
    background-color: $color-background;
    color: $color-font-red;
    text-align: center;
    font-family: $font-body;
}

form{
    display: inline-block;
}

label{
    font-size: 0.9em;
}

select, option{
    background-color: $color-box;
    color: $color-font-white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-header;
    font-weight: lighter;
}

header p{
    color: $color-font-white;
    margin: 0;
}

p{
    font-size: 13px;
    font-family: $font-body;
    color: $color-font-white;
}

.movie-info-card{
    text-align: left;
    background-color: $color-box;
    width: 240px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 10px;
    overflow: hidden;
}

.poster{
    width: 240px;
    height: 360px;
    position: absolute;
}

.poster-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    background: linear-gradient(0deg, rgba(14,12,13,1) 35%, rgba(14,12,13,1) 59%, rgba(0, 0, 0, 0.192) 80%, rgba(14,255,255,0) 100%);
}

.description{
    width: 240px;
    height: 400px;
    z-index: 2;
    position: absolute; 
    bottom: 0;
    
}

.hover-info{
    width: 240px;
    height: 400px;
    padding: 20px;
    background-color: rgba(14,12,13,0.85);
    position: relative;
    display: none;

}

.movie-info-card:hover .hover-info{
    display:block;
}

.poster-fave-button{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 5;    
}

.hover-info p{
    color: $color-font-white;
    font-size: 13px;
    width: 180px;
    margin: auto;
    margin-top: 90px;
    //thank you css-tricks for this
    //alternatively thinking about using clamp.js
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more-info-btn{
    background-color: transparent;
    color: $color-font-red;
    outline: transparent;
    border: solid 1px $color-font-red;
    border-radius: 10px;
    padding: 7px 9px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    transition: 0.3s;
}

.more-info-btn:hover{
    color: $color-font-white;
    background-color: $color-font-red;
    cursor: pointer;
}

.quick-intro{
    width: 240px;
    height: 70px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 0px 20px 12px 20px;
}

.poster-intro-title{
    font-size: 18px;
    font-family: $font-header;
    color: $color-font-white;
    font-weight: lighter;
    margin-bottom: 0px;
}

.poster-intro-date{
    font-size: 13px;
    font-family: $font-body;
    color: $color-font-white;
    font-style:italic;
    margin: 0px 0px 3px 0px;
}

.poster-intro-rating{
    font-size: 13px;
    font-family: $font-body;
    color: $color-font-red;
    margin: 0px;
}

label{
    color: $color-font-white;
}

/*
------------------------
styling for single pages
------------------------
*/
.about-movie-poster{
    position: relative;
    max-width: 80%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
}

.about-movie-title{
    position: relative;
    bottom: 85px;
    color: $color-font-white;
    padding-top: 45px;
    padding-bottom: 12px;
    margin: 0;
    background: linear-gradient(0deg, rgba(14,12,13,1) 5%, rgba(14,12,13,1) 5%, rgba(0, 0, 0, 0.192) 70%, rgba(14,255,255,0) 100%);
}

.about-movie-box{
    position: relative;
    bottom: 135px;
    padding: 80px 25px 25px 25px;
    background-color: #0d0d0d;
    box-shadow: 5px 10px 8px black;
    z-index: -1;
}
.about-movie-rating p{
    text-align: right;
}

.about-movie-quick-info{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 5px;
}

.about-synopsis{
    text-align: left;
    padding-top: 5px;
}

.synopsis-title{
    padding-bottom: 5px;
    font-weight: bold;
}

.about-fave-button{
    margin-top: 25px;
    position: relative;
    left: 120px;
}
/*
-----------------------------
styling for favourite buttons
-----------------------------
*/
.favorite-button{
    z-index: 100;
    position: relative;
    width: 32px;
    left: 200px;
    top: 8px;
}

.about-movie-box .favorite-button{
    left: 150px;
}


//arbitrary min width for now, just for testing
@media (min-width: 460px){

    .movie-info-card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .movie-info-card:first-child,
    .movie-info-card:nth-child(2) {
        margin-top: 40px
    }
}

@media (min-width: 670px){
/*
------------------------
elements
------------------------
*/
    form{
        margin-top: 85px;
        margin-right: 80px;
    }

/*
------------------------
classes
------------------------
*/
    .home-bar{
        display: flex;
        justify-content: space-between;
    }

    .page-title{
        margin-top: 50px;
        margin-left: 80px;
        justify-content: left;
    }

    .favourites-title{
        margin-left: 80px;
        justify-content: initial;
    }

    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-left: 14%;
        margin-right: 14%;
        margin-bottom: 80px;
    }

}

@media (min-width: 900px){
/*
------------------------
styling for single pages
------------------------
*/
    .single-movie-content{
        margin: auto;
    }

    .about-movie-poster{
        width: 325px;
        margin-top: 85px;
        left: -200px;
    }

    .about-movie-title{
        text-align: left;
        background: none;
        top: -475px;
        left: 50%;
        padding: 0px;
        font-size: 2em;
    }

    .about-movie-box{
        margin: auto;
        margin-top: 20px;
        border-radius: 15px;
        top: -475px;
        width: 450px;
        padding: 45px 35px 25px 85px;
        left: 140px;
    }
/*
------------------------
styling for movie gallery
------------------------
*/
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }

    .movie-info-card:nth-child(3) {
        margin-top: 40px
    }
}

@media (min-width: 1200px){
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 5%;
        margin-right: 5%;
    }

    .movie-info-card:nth-child(4) {
        margin-top: 40px
    }
}

@media (min-width: 1450px){
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 5%;
        margin-right: 5%;
    }

    .movie-info-card:nth-child(5) {
        margin-top: 40px
    }
}

@media (min-width: 1700px){
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 7%;
        margin-right: 7%;
    }

    .movie-info-card:nth-child(6) {
        margin-top: 40px
    }
}