.home-bar{
    display: block;
}

.page-title{
    margin: 0px;
    display: flex;
    justify-content: center;  
}

.title-white{
    color: $color-font-white;
}

body {
    background-color: $color-background;
    color: $color-font-red;
    text-align: center;
    font-family: $font-body;
}

p{
    font-size: 0.8rem;
    font-family: $font-body;
    color: $color-font-white;
}

.movie-info-card{
    text-align: left;
    background-color: $color-box;
    width: 240px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 10px;
    overflow: hidden;
}

.poster{
    width: 240px;
    height: 360px;
    position: absolute;
}

.poster-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    background: linear-gradient(0deg, rgba(14,12,13,1) 35%, rgba(14,12,13,1) 59%, rgba(0, 0, 0, 0.192) 80%, rgba(14,255,255,0) 100%);
}

.description{
    width: 240px;
    height: 400px;
    z-index: 2;
    position: absolute; 
    bottom: 0;
    
}

.hover-info{
    width: 240px;
    height: 400px;
    padding: 20px;
    background-color: rgba(14,12,13,0.85);
    position: relative;
    display: none;
    p{
        color: $color-font-white;
        font-size: 0.8rem;
        width: 180px;
        margin: auto;
        margin-top: 90px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

.movie-info-card:hover .hover-info{
    display:block;
}

.poster-fave-button{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 5;    
}

.more-info-btn{
    background-color: transparent;
    color: $color-font-red;
    outline: transparent;
    border: solid 1px $color-font-red;
    border-radius: 10px;
    padding: 7px 9px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    transition: 0.3s;
    &:hover{
        color: $color-font-white;
        background-color: $color-font-red;
        cursor: pointer;
    }
}

.quick-intro{
    width: 240px;
    height: 70px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 0px 20px 12px 20px;
}

.poster-intro-title{
    font-size: 1.1rem;
    font-family: $font-header;
    color: $color-font-white;
    font-weight: lighter;
    margin-bottom: 0px;
}

.poster-intro-date{
    font-size: 0.8rem;
    font-family: $font-body;
    color: $color-font-white;
    font-style:italic;
    margin: 0px 0px 3px 0px;
}

.poster-intro-rating{
    font-size: 0.8rem;
    font-family: $font-body;
    color: $color-font-red;
    margin: 0px;
}

label{
    color: $color-font-white;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

.movie-info-card .favorite-button{
    z-index: 100;
    position: relative;
    width: 32px;
    left: 200px;
    top: 8px;
    cursor: pointer;
}

@media (min-width: 28.75em){
    .movie-info-card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 40px;
    }
}

@media (min-width: 41.875em){
    form{
        margin-top: 85px;
        margin-right: 80px;
    }

    .home-bar{
        display: flex;
        justify-content: space-between;
    }

    .page-title{
        margin-top: 50px;
        margin-left: 80px;
        justify-content: left;
    }

    .favourites-title{
        margin-left: 80px;
        justify-content: initial;
    }

    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 80px;
    }

    .movie-info-card{
        margin-top: 0;
        &:first-child,
        &:nth-child(2){
            margin-top: 40px
         }
    }
}

@media (min-width: 56.25em){
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        
    }

    .movie-info-card:nth-child(3) {
        margin-top: 40px
    }
}

@media (min-width: 75em){
    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
    }

    .movie-info-card:nth-child(4) {
        margin-top: 40px
    }
}

@media (min-width: 90em){
    form{
        margin-right: 12em;
    }

    .page-title{
        margin-left: 12em;
    }

    .movie-gallery{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
    }

    .movie-info-card:nth-child(5) {
        margin-top: 40px
    }
}

@media (min-width: 105em){
    form{
        margin-right: 18em;
    }

    .page-title{
        margin-left: 18em;
    }
}