/*
trying to make footer go to bottom of page on about but 
it messes up other page footers
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
*/
footer{
    text-align: center;
    padding: 0px 10px 0px 10px;
    a{
        color: $color-font-white;
        transition: 0.3s;
    }
}