//self-reminder to remember to code mobile-first

header{
    display: flex;
    justify-content: space-between;
    background-color: $color-box;
    padding: 12px;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    padding: 14px;
}

header img{
    max-height: 36px;
}

.logo-image{
    max-height: 36px;
    display: block;
}

a{
    padding: 0;
    margin: 0;
}


//these are all gonna be media query, since mobile uses icons
//still needa work out how to change the font colour while on page

@media (min-width: 670px) {

    a:hover{
        color: $color-font-red;
    }
}