//self-reminder to remember to code mobile-first

header{
    display: flex;
    justify-content: space-between;
    background-color: $color-box;
    padding: 12px;
    p{
        color: $color-font-white;
        margin: 0;
    }
}

form{
    display: inline-block;
}

label{
    font-size: 0.9rem;
}

select, option{
    background-color: $color-box;
    color: $color-font-white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-header;
    font-weight: lighter;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    padding: 14px;
}

header img{
    max-height: 36px;
}

.logo-image{
    max-height: 36px;
    display: block;
}

a{
    padding: 0;
    margin: 0;
}

.search-bar-container{
    width: 100%;
}




@media (min-width: 41.875em) {

    #search-icon{
        display: none;
    }

    a:hover{
        color: $color-font-red;
    }
}