//assuming we'll be using media queries to make the change between
//socmed icons and text ? 

nav p{
    display: none;
}

nav img{
    height: 26px;
    width: 26px;
}

li{
    padding: 5px 5px 0px 5px;
}

nav img:hover{
    filter: brightness(0) invert(1);
}


@media (min-width: 670px) {

    nav p{
        display: block;
        font-size: 24pt;
        font-style: none;
    }

    nav p:hover{
        color: $color-font-red;
    }

    nav img{
        display: none;
    }

}