//assuming we'll be using media queries to make the change between
//socmed icons and text ? 

nav p{
    font-family: $font-header;
    display: none;
}

nav img{
    height: 26px;
    width: 26px;
}

li{
    padding: 5px 10px 0px 10px;
}

nav img:hover{
    filter: brightness(0) invert(1);
}

input{
    display: none;
    background-color: transparent;
    color: $color-font-white;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px $color-font-red;
}

::placeholder{
    font-style: italic;
}

@media (min-width: 41.875em) {

    .logo-image{
        order: 1;
        margin-left: 65px;
    }

    .search-icon{
        display: none;
    }

    input{
        display: block;
        padding-top: 7px;
    }
    
    nav{
        order: 3;
        margin-right: 65px;
    }

    nav p{
        display: block;
        font-size: 1rem;
        font-style: none;
    }

    nav p:hover{
        color: $color-font-red;
    }

    nav img{
        display: none;
    }

}