//assuming we'll be using media queries to make the change between
//socmed icons and text ? 

nav p{
    font-family: $font-header;
    display: none;
}

nav img{
    height: 26px;
    width: 26px;
}

li{
    padding: 5px 10px 0px 10px;
}

nav img:hover{
    filter: brightness(0) invert(1);
}

input{
    display: none;
    background-color: transparent;
    color: $color-font-white;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px $color-font-red;
}

::placeholder{
    font-style: italic;
}

@media (min-width: 41.875em) {

    .logo-image{
        order: 1;
        margin-left: 65px;
    }

    .search-icon{
        display: none;
    }

    input{
        display: block;
        padding-top: 8px;
    }
    
    nav{
        order: 3;
        margin-right: 65px;
        p{
            display: block;
            font-size: 1rem;
        }
        p:hover{
            color: $color-font-red;
        }
        img{
            display: none;
        }
    }

}

@media (min-width: 70em){
    input{
        margin-left: 25em;
        width: 250px;
    }
}

@media (min-width: 90em){

    input{
        margin-left: 35em;
        width: 250px;
    }

    .logo-image{
        order: 1;
        margin-left: 11em;
    }

    nav{
        margin-right: 11em;
    }
}

@media (min-width: 105em){

    .logo-image{
        order: 1;
        margin-left: 17em;
    }

    nav{
        margin-right: 17em;
    }
}