nav.page-selector {

    display: flex;
    margin: auto;
    width: 13.5em;
    margin-top: 40px;
    box-shadow: 5px 5px 10px #0E0C0D;
    border-radius: 1em 1em 1em 1em;
    ul {
        display: flex;
        padding: 0px;
        margin: auto;
        width: 9em;
        overflow: hidden;
        justify-content: center;
        li:not(#current-page-selector){
            display: none;
        }
    }
    p {
        margin: auto;
        line-height: 2em;
        display: block;
        font-size: 1em;
    }
    li {
        padding: 0;
    }
    .page-link {
        width: 2.5em;
        height: 2em;
        padding-top: 2px;
        background-color: $color-box;
        justify-content: center;
        justify-items: center;
    }
    #button-previous, #button-next {
        width: 6em;
    }
    #button-previous {
        border-radius: 1em 0 0 1em;
    }
    #button-next {
        border-radius: 0 1em 1em 0;
    }
    #current-page p {
        color: $color-font-red;
    }
}

.hide-on-mobile {
    display: none;
}

#page-holder{
    margin: auto;
    width: 21em;
}

@media (min-width: 28em) {
    #page-holder {
        width: 26em;
    }
    nav.page-selector {
        width: 23.5em;

        ul {
            width: 12.5em;
            li:not(#current-page-selector) {
                display: block;
            }
            li.hide-on-mobile:not(#current-page-selector) {
                display: none;
            }
        }
    }
}

@media (min-width: 41.875em) {
    #page-holder {
        width: 34.5em;
    }
    nav.page-selector {
        width: 34.5em;
        ul {
            width: 26em;
            li.hide-on-mobile:not(#current-page-selector) {
                display: block;
            }
        }
    }
}