/*
------------------------
styling for single pages
------------------------
*/
.about-movie-poster{
    position: relative;
    max-width: 80%;
    height: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    z-index: 1;
}

.about-movie-title{
    position: relative;
    bottom: 85px;
    color: $color-font-white;
    padding-top: 45px;
    padding-bottom: 12px;
    margin: 0;
    background: linear-gradient(0deg, rgba(14,12,13,1) 5%, rgba(14,12,13,1) 5%, rgba(0, 0, 0, 0.192) 70%, rgba(14,255,255,0) 100%);
    max-width: 100%;
    z-index: 12;
}

.about-movie-box{
    position: relative;
    bottom: 135px;
    padding: 80px 25px 25px 25px;
    background-color: #0d0d0d;
    box-shadow: 5px 10px 8px black;
    button {
        position: relative;
        background: none;
        border: none;
        right: -45%;
        .favorite-button{
            position: relative;
            left: 0px;
        }
    }
}
.about-movie-rating p{
    text-align: right;
}

.about-movie-quick-info{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 5px;
}

.about-synopsis{
    text-align: left;
    padding-top: 5px;
}

.synopsis-title{
    padding-bottom: 5px;
    font-weight: bold;
}

.about-movie-box .favorite-button{
    z-index: 100;
    position: relative;
    width: 32px;
    top: 8px;
    right: -45%;
    cursor: pointer;
}

@media (min-width: 31.25em){
    .about-movie-poster{
        max-width: 55%
    }

    .about-movie-box{
        margin: auto;
        width: 80%;
        border-radius: 15px;
        padding: 80px 35px 35px 35px;
    }

    .about-movie-title{
        margin: auto;
        z-index: 3;
        max-width: 55%
    }

}

@media (min-width: 56.25em){
    .single-movie-content{
        margin: auto;
    }

    .about-movie-poster{
        width: 325px;
        margin-top: 85px;
        left: -200px;
    }

    .about-movie-title{
        text-align: left;
        background: none;
        top: -475px;
        left: 6em;
        padding: 0px;
        font-size: 2rem;
        max-width: 400px;
    }

    .about-movie-box{
        margin: auto;
        margin-top: 20px;
        top: -475px;
        width: 450px;
        padding: 45px 35px 25px 85px;
        left: 140px;
    }
}