// Colors
$color-background: #1e1c1c;
$color-box: #171414;
$color-font-red: #ca2b2f;
$color-font-white: #ffffff;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans&display=swap');

$font-header: 'Hammersmith One', sans-serif;
$font-body: 'Open Sans', sans-serif;